# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List popular languages for data science
* List commonly used libraries in Data Science
* Table indicating data science tools
* Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools|
|-------------------|
|Apache Spark|
|Apache Hadoop|
|Tensor Flow|

## Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [9]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Izzy Whitehead